<template name="signup">
   <div class="signup">
     <h2>S'inscrire</h2>
      <form class="add-student">
        <input type="text" name="firstname" placeholder="Prénom" required>
        <input type="text" name="lastname" placeholder="Nom" required>
        <input type="text" name="class" placeholder="Classe" required>
        <input type="submit" name="submit" value="Valider">
      </form>
      <ul>
       {{#each links}}
         <li><a href="" target="_blank">{{firstname}}</a></li>
       {{/each}}
     </ul>
   </div>
</template>
